<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io()
        socket.emit('link_to_server', '请问蜗牛帅吗？')
        // 接收到响应
        socket.on('link_to_client', (msg) => {
            document.getElementById('info').innerHTML = `收到的回答：${msg}`
        })
    </script>
    <title>Document</title>
    <style>
        body{
            background: #307ac6;
            text-align: center;
            color: aliceblue;
            margin: 10% 10%;
        }
    </style>
</head>
<body>
    <h1>welcome to lm</h1>
    <p id="info"></p>
</body> 
</html>