/*CSS DOCUMENT*/

html,body{
      text-size-adjust:none;
}


.warp{margin:0 auto; width:100%; max-width:640px;}

/*header*/
.header{ width:100%; background:url(../images/header_bg.png) left bottom repeat-x; position:relative;}
.header img.logo{width:47.3%; height:auto; padding:2% 0 3%; display:block; margin:0 auto;}
.home_icon{width:18%;padding:4% 0 0 3%; position:absolute; top:0; left:0;}
.home_icon a{ width:100%;background: -webkit-gradient(linear,center top,center bottom,from(#555555), to(#313131)); border-radius:5px; border:1px solid #1a1a1a; box-shadow:0 0 2px #212121;}

.home_icon img{width:40%; height:auto;padding:8% 0; display:block; margin:0 auto;}

.nav ul{ border-bottom:2px solid #d1a92c;}
.nav ul li{width:25%; background:#e8be3b; border-bottom:1px solid #d1a92c; border-top:1px solid #f5d778; height:45px; line-height:45px;}
.nav ul li.current{ background:#d1a92c;}
.nav ul li a{ border-right:1px solid #f5d778;border-left:1px solid #d1a92c; color:#000; font-size:16px;white-space:nowrap;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}

/* banner */
.banenr{ width:100%; max-height:360px;overflow:hidden;position:relative; margin-top:-1px;}
.banenr img{ width:100%;}
.banenr>ol{height:20px;position: relative;z-index:10;width:95px; left:38%; bottom:10px;margin-top:-25px;text-align:right;padding-right:20px;}
.banenr>ol>li{display:inline-block;margin:5px;width:13px;height:14px;background:url(../images/banner_btn.png) no-repeat;}
.banenr>ol>li.on{background:url(../images/banner_btn_hover.png) no-repeat;}

.main{width:96.7%; margin:0 auto;padding:5% 0 3%;}
.m_block1{ position:relative;width:100%; overflow:hidden; margin:0 0 2%;}
.news,.employees_draft{width:49.4%;}
.news img{ width:100%; height:auto;}
.news_ca{margin:0 0 3%; position:relative;}
.news_cb{ position:relative;}

.news_text{ position:absolute; left:0; bottom:0; width:100%; line-height:14px;padding:3% 0;text-align:center;font-size:14px;background:rgba(0, 0, 0, 0.5);}
.news_text em{  margin:0 auto;color:#fff; width:97%; margin:0 auto;white-space:nowrap;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}

.image_meiling{width:49.5%; position:absolute;right:0;top:0;  height:100%; background:#f3575b url(../images/icon_xyml.png) center 40% no-repeat; background-size:30.6% auto; }
.image_meiling a,.employees_draft a,.lohas_meiling a,.live_service a{ color:#fff;}
.image_meiling a{font:26px/500px 'microsoft yahei'; position:absolute; height:100%; width:100%;}

.meiling_service{width:49.5%; }
.employees_draft a{ width:100%; background:#51c95f url(../images/icon_ygtg.png) center 42% no-repeat; background-size:29.6% auto;font-size:26px;padding:92.9% 0 40.6%;}
.lohas_meiling a,.live_service a{width:100%;font-size:26px;padding:40% 0 22%;}
.lohas_meiling{ background:#feb645 url(../images/icon_yhtd.png) center 20.7% no-repeat; background-size:29.7% auto;}
.live_service{ margin:2% 0 0; background:#2cabe6 url(../images/icon_shfw.png) center 18.8% no-repeat; background-size:29.6% auto;}


/*bottom*/
.bottom{ background:#e8be3b;padding:0 0 5px;width:100%;}
.bottom ul{ width:100%; overflow:hidden; background:#363636;white-space:nowrap;}
.bottom ul li{width:25%;background:url(../images/foot_libg.png) right top repeat-y;}
.bottom ul li.message{ background:none;}
.bottom ul li.tell a{ background:url(../images/f_tell.png) center 30% no-repeat; background-size:28% auto; }
.bottom ul li.info a{ background:url(../images/f_info.png) center 30% no-repeat; background-size:31.8% auto;}
.bottom ul li.map a{ background:url(../images/f_map.png) center 30% no-repeat; background-size:23.1% auto;}
.bottom ul li.message a{ background:url(../images/f_message.png) center 30% no-repeat; background-size:33.75% auto; }
.bottom ul li a{ display:block; width:100%;}
.bottom ul li.tell.current a{ background:#e8be3b url(../images/f_tell_hover.png) center 30% no-repeat; background-size:28% auto; }
.bottom ul li.info.current a{ background:#e8be3b url(../images/f_info_hover.png) center 30% no-repeat; background-size:31.8% auto;}
.bottom ul li.map.current a{ background:#e8be3b url(../images/f_map_hover.png) center 30% no-repeat; background-size:23.1% auto;}
.bottom ul li.message.current a{ background:#e8be3b url(../images/f_message_hover.png) center 30% no-repeat; background-size:33.75% auto;}

.bottom ul li span{ display:block; width:100%;padding:42% 0 5%; font-size:16px; color:#fff;}

/*最新活动*/
.activities_tit{ width:100%; height:50px; line-height:50px; font-size:22px; color:#000;}
.activities_cont,.life_service{width:100%;}
.activities_cont ul{padding:0 1% 2%;}
.activities_cont ul li{width:50%; margin:0 0 3%;}
.activities_cont ul li a{ width:95.5%; margin:0 auto; background:#fff;}
.activities_cont ul li a img{ width:100%; height:auto;}
.activities_cont ul li a .activities_c_text{width:95%; margin:0 auto;}
.activities_cont ul li a .activities_c_text p{ height:30px; line-height:30px; border-bottom:1px dashed #e9e9e9; color:#222; font-size:15px;white-space:nowrap;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.activities_cont ul li a .activities_c_text em{ color:#aaa; font-size:13px; height:24px; line-height:20px;}

/*生活服务*/
.life_service_tit{ height:70px; line-height:70px;}
.life_service{padding:1% 0 10%;}
.mr1{ margin-right:1%;}
.ml1{ margin-left:1%;}
.life_service ul{ position:relative; overflow:hidden;width:100%; margin:0 0 1%;}
.life_service ul li{ width:32%; }
.life_service ul li a{ width:100%; margin:0 auto;}
.life_service ul li a img{ width:100%; height:auto;}
.life_service ul li.life_draft{position:absolute; top:0; left:0; background:#f3575b;}
.life_service ul li.life_draft a{width:100%; font:22px/270px 'microsoft yahei'; background:url(../images/life_icon_shfw.png) center 16.4% no-repeat; background-size: 41.8% auto;}

.life_service ul li.life_food{ margin:0 33% 0 34%;}
.life_service ul li.life_food a{ position:relative;}
.life_service ul li.life_food a img{ display:block; width:100%; height:auto;}
.life_service ul li.life_food a span{ width:100%;height:40px; line-height:40px; font-size:22px;position:absolute; left:0; bottom:0; background:rgba(255,255,255,0.5);}

.life_service ul li.life_travel{position:absolute; top:0; right:0; background:#2dabe6;}
.life_service ul li.life_travel a{width:100%; font:22px/270px 'microsoft yahei'; background:url(../images/life_icon_lypd.png) center 16.4% no-repeat; background-size: 39.4% auto;}

.life_service ul li.life_outdoor,.life_service ul li.life_movie{ margin:0;}
.life_service ul li.life_outdoor{ margin-left:1%;}
.life_service ul li.life_movie{ margin-right:1%;}

.life_service ul li.life_exercise{position:absolute; top:0; left:34%;background:#feb645;}
.life_service ul li.life_exercise a{width:100%; font:22px/270px 'microsoft yahei'; background:url(../images/life_icon_jsjlb.png) center 16.4% no-repeat; background-size: 39.5% auto;}


/*新闻*/
.news_banner>ol{width:50px; left:45%;}
.zi_news_list{ background:#dedede; width:96.8%; margin:0 auto; box-shadow:0px 2px 2px #777;}
.zi_news_list ul li{padding:15px 2.9%; background:url(../images/news_libg.png) left bottom repeat-x;}
.zi_news_list ul li.last{ background:none;}
.zi_news_list ul li .zi_news_pic{ width:18%;padding:0.5%;border:1px solid #cacaca; position:relative; background:#fff; z-index:1;}
.zi_news_list ul li .zi_news_pic img{width:100%; height:auto;position:relative;z-index:1;}
.zi_news_list ul li .zi_news_text{width:72.2%; margin:0 0 0 3%;}
.zi_news_list ul li .zi_news_text h3{ font-size:16px; line-height:26px; color:#000;white-space:nowrap;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.zi_news_list ul li .zi_news_text p{ font-size:14px; line-height:23px; color:#555;padding:3px 0 0;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}

.zi_news_list ul li .news_pic_shadow{width:100%; height:6px; position:absolute; overflow:hidden; left:0; bottom:-5px; background:url(../images/news_pic_shadow_03.png) center top no-repeat; z-index:10; background-size:100% 100%;}


.news_page{padding:5% 0; width:60%; margin:0 auto;}
.news_page a.pre,.news_page a.next{width:20%;padding:7% 0;background-size:26.1% auto; border:1px solid #222; border-radius:5px;}
.news_page a.pre{ background:url(../images/pre.png) center center no-repeat;}
.news_page a.next{background:url(../images/next.png) center center no-repeat;}
.news_page a.pre.pre_no{ background:url(../images/pre_no.png) center center no-repeat;border:1px solid #888;}
.news_page a.next.next_no{background:url(../images/next_no.png) center center no-repeat;border:1px solid #888;}
.news_page a.page_text{width:36%;padding:5% 0 0;color:#3a3a3a; font-size:25px;}


/*图片列表页*/
.image_ml_cont ul li{ width:33.3%; margin:0 0 4%;}
.image_ml_cont ul li a{width:92.5%; margin:0 auto; border-radius:6px; background:#fff;}
.image_ml_cont ul li a img{ width:100%; height:auto; border-radius:6px 6px 0 0;}
.image_ml_cont ul li a span{ text-align:left; width:100%; text-indent:1em; height:38px; line-height:35px;white-space:nowrap;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis; font-size:15px; color:#222;}

.image_ml_cont ul li.images_more a{ background:#2dabe6; font-size:23px; color:#fff; line-height:220%;padding:21% 0;}
.image_ml_cont ul li.images_more a i{ font-size:17px;}
.image_ml_cont ul li.images_more a em{ font-size:40px;}

/*一周话题*/
.week_topic{padding:0 0 6%;}
.week_topic_list{ width:96.87%; margin:0 auto;background:#fff; box-shadow:none;}

.week_topic_list ul li{border:1px solid #ddd;box-shadow:0 1px 2px #aaa;padding:0; background:none; margin:0 0 1%;}
.week_topic_list ul li h3.u_tit{ height:35px; line-height:35px;padding:5px 10px; font-size:18px; color:#fa7800; background:-webkit-linear-gradient(top,#f2f2f2,#e3e3e3);background:-moz-linear-gradient(top,#f2f2f2,#e3e3e3); border-bottom:1px solid #ddd; position:relative; z-index:1;}
.week_topic_list ul li h3.u_tit em{ color:#888; font-size:14px;}
.week_topic_list ul li h3.u_tit span{width:13px; height:7px; background:url(../images/topic_h3_bg.png) no-repeat; position:absolute; bottom:-6px; left:18%;}

.week_topic_list ul li .topic_cont{width:100%;padding:15px 0; background:-webkit-linear-gradient(top,#f3f3f3,#e4e4e3); background:-moz-linear-gradient(top,#f3f3f3,#e4e4e3);}
.week_topic_list ul li .zi_news_pic{width:30.96%;padding:1%; margin:0 0 0 3.5%;}
.week_topic_list ul li .news_pic_shadow{ background:url(../images/topic_pic_shadow.png) top center no-repeat; background-size:100% 100%; width:100%; height:7px; bottom:-6px;}
.week_topic_list ul li .zi_news_text{width:57%; margin:0 0 0 3%; position:relative;}
.week_topic_list ul li .zi_news_text p{ line-height:26px;}
.week_topic_list ul li .zi_news_text em{ width:7.6%; height:auto; position:absolute; bottom:0; right:0;}
.week_topic_list ul li .zi_news_text em img{width:100%; height:auto;}

/*一周话题 详情*/
.week_topic_list ul li .topic_view_text{width:94%; margin:0 auto;padding:8px 0;}
.week_topic_list ul li .topic_view_text h3{ height:42px; line-height:42px; color:#000; font-size:20px;white-space:nowrap;overflow:hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.week_topic_list ul li .topic_view_text p{line-height:34px; height:auto; color:#333; font-size:16px; text-indent:2em;}

.topic_view_comment{width:96%; margin:0 auto;padding:12px 0 20px;}
.topic_view_c_tit{ font-size:17px; color:#000; height:36px; line-height:36px;}
.topic_view_c_tit span{ color:#aaa; font-size:13px;}

.topic_view_comment form textarea{ width:98%; height:90px; line-height:20px; color:#aaa; border:1px solid #ccc; background:none;padding:1%;}
.topic_btn{padding:6px 0 30px;}
.topic_btn button{width:25%; height:34px; line-height:30px;font-size:18px; color:#fff; background:#ffc700; border:0; border-bottom:3px solid #f0b200;font-family:"微软雅黑";}
.topic_btn span{ color:#aaa; font-size:14px;}
.topic_btn span em{ color:#777; height:34px; line-height:34px;}

.topic_view_cc{width:90%; margin:0 0 0 12px;}
.topic_view_cc h3{ font-size:18px; color:#fa7800;}
.topic_view_cc h3 em{ font-size:13px; color:#aaa;padding:3px 0 0;}
.topic_view_cc h3 a{ color:#0467c4; height:22px; line-height:1; background:url(../images/topic_comment.png) left top no-repeat;padding:0 0 0 30px;}

.topic_view_c_list{ border-bottom:1px solid #ccc; position:relative; z-index:1;}
.topic_view_c_list ul li{padding:15px 0; border:0; border-top:1px solid #ccc;  box-shadow:none;}
.topic_view_cc_text{padding:6px 0; line-height:24px; color:#000; font-size:15px;}
.topic_view_cc blockquote{ font-size:15px;  line-height:24px;padding:8px; background:#f9f9f9; color:#000;}
.topic_view_cc blockquote span{color:#fa7800;}

.topic_c_more{width:120px; height:16px; line-height:16px; position:absolute; bottom:-8px; right:0; background:#fff; z-index:10;  font-size:15px;}
.topic_c_more a{color:#0467c4;}

/*新闻内页*/
.article_content{width:96%;margin:0 auto;font-size:12px;}
.article_content .title{padding:20px 0;}
.article_content .title h1{color:#222;text-align:center;font-size:1.67em;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.article_content .title .title_line{height:1px;border-top:1px solid #b4b6b7;margin-top:20px;text-align:center;}
.article_content .title .title_line .time{position:relative;top:-13px;background:url(../images/bodybg.png) repeat;padding:0 10px;color:#888;font-size:1.08em;}
.article_content .contdetail{color:#222;font-size:1.25em;padding:0 0 15px;}
.article_content .contdetail img{width:85%;}
.article_content .contdetail p{text-indent:2em;text-align:left;padding:10px 0;}


/*联系我们*/
.contact_wrap{width:96%;margin:0 auto;font-size:12px;padding:0 0 15px;}
.contact_wrap h1{color:#000;padding:20px 0;font-size:150%;text-align:center;font-weight:bold;}
.contact_wrap .detail{background:#f9f9f9;}
.contact_wrap .detail img{display:block;width:100%;}
.contact_wrap .detail .content_ways{padding:20px 5%;}
.contact_wrap .detail .content_ways p{font-size:16px;color:#000;margin:10px 0;text-align:left; word-break:break-all;}

/*产品*/








@media all and (min-width:640px){
body{width:640px;margin:0 auto;position:relative;}
.life_service{padding:1% 0 40%;}

}

@media all and (min-width:480px) and (max-width:639px){
 .image_meiling a{font:26px/460px 'microsoft yahei'; position:absolute; height:100%; width:100%;}
 .employees_draft a{ padding:92.9% 0 42%;}
 .life_service ul li.life_draft a,.life_service ul li.life_travel a,.life_service ul li.life_exercise a{width:100%; height:100%; font:22px/220px 'microsoft yahei'; font-size:20px;}
 .life_service ul li.life_food a span{font-size:20px;}
 .life_service{padding:1% 0 25%;}
 
 .zi_news_list ul li .zi_news_text h3{ line-height:24px;}
.zi_news_list ul li .zi_news_text p{ line-height:20px; padding:2px 0 0; height:40px;}

.news_page a.page_text{width:35%; font-size:22px;}

.image_ml_cont ul li.images_more a{font-size:20px;line-height:220%;padding:21% 0;}
.image_ml_cont ul li.images_more a i{ font-size:15px;}
.image_ml_cont ul li.images_more a em{ font-size:36px;}

.week_topic_list ul li .zi_news_text p{ line-height:24px; height:72px;}
.week_topic_list ul li .zi_news_text em{bottom:-20px;}

.topic_view_cc{width:87%;}

}




@media all and (min-width:380px) and (max-width:479px){
.image_meiling a{font:22px/380px 'microsoft yahei'; position:absolute; height:100%; width:100%;}
.employees_draft a{ padding:92.9% 0 42.6%;}
.life_service ul li.life_draft a,.life_service ul li.life_travel a,.life_service ul li.life_exercise a{width:100%; height:100%; font:22px/180px 'microsoft yahei'; font-size:18px;}
.life_service ul li.life_food a span{font-size:18px;}

.zi_news_list ul li .zi_news_text h3{ line-height:20px;}
.zi_news_list ul li .zi_news_text p{  line-height:18px; padding:2px 0 0; height:36px;}

.news_page a.page_text{width:34%;padding:4% 0 0;font-size:18px;}

.image_ml_cont ul li.images_more a{font-size:20px;line-height:190%;padding:20.6% 0;}
.image_ml_cont ul li.images_more a i{ font-size:15px;}
.image_ml_cont ul li.images_more a em{ font-size:36px;}

.week_topic_list ul li .zi_news_text p{ line-height:22px; height:66px;}
.week_topic_list ul li .zi_news_text em{bottom:-16px;}

.topic_view_cc{width:84%;}

.contact_wrap .detail .content_ways p{font-size:15px;}

.lohas_meiling a,.live_service a,.employees_draft a{font-size:22px;}

.nav ul li a{ font-size:14px;}

}

@media all and (max-width:379px){
.image_meiling a{font:20px/300px 'microsoft yahei'; position:absolute; height:100%; width:100%;}
.employees_draft a{ padding:92.9% 0 45.5%;}
.activities_tit{ font-size:18px;}
   
.activities_cont ul li a .activities_c_text p{font-size:13px;}
.activities_cont ul li a .activities_c_text em{font-size:11px;}
.life_travel ul li a span{ font-size:18px; color:#000;}

.life_service ul li.life_draft a,.life_service ul li.life_travel a,.life_service ul li.life_exercise a{width:100%; height:100%; font:22px/150px 'microsoft yahei'; font-size:16px;}
.life_service ul li.life_food a span{font-size:16px;}

.zi_news_list ul li .zi_news_text h3{ font-size:15px; line-height:20px;}
.zi_news_list ul li .zi_news_text p{ font-size:14px; line-height:18px; padding:2px 0 0; height:18px;}
.news_page a.page_text{width:32%; font-size:14px;padding:4% 0 0;}

.image_ml_cont ul li.images_more a{font-size:20px;line-height:190%;padding:18% 0;}
.image_ml_cont ul li.images_more a i{ font-size:15px;}
.image_ml_cont ul li.images_more a em{ font-size:36px;}

.week_topic_list ul li .zi_news_text p{ line-height:18px; height:54px; font-size:13px;}
.week_topic_list ul li .zi_news_text em{bottom:-12px;}

.topic_view_cc{width:80%;}

.contact_wrap .detail .content_ways p{font-size:14px;}

.lohas_meiling a,.live_service a,.employees_draft a{font-size:20px;}

.nav ul li a{ font-size:14px;}

}
